version: 2.1

jobs:
  build:
    docker:
      - image: circleci/node:lts-browsers
    steps:
      - checkout
      - restore_cache:
          keys:
            - dependency-cache-{{ checksum "package.json" }}
            - dependency-cache-
      - run: npm install
      - run: npm run build
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - node_modules
  release:
    docker:
      - image: circleci/node:lts
    environment:
      GIT_AUTHOR_NAME: h3
      GIT_AUTHOR_EMAIL: h3@hackerhappyhour.com
      GIT_COMMITTER_NAME: h3
      GIT_COMMITTER_EMAIL: h3@hackerhappyhour.com
    description: "semantic-release"
    parameters:
      dry-run:
        description: "semantic-release --dry-run flag"
        default: false
        type: boolean
    steps:
      - checkout
      - restore_cache:
          keys:
            - dependency-cache-{{ checksum "package.json" }}
            - dependency-cache-
      - run: npm install
      - run: npx semantic-release --branch $CIRCLE_BRANCH --dry-run=<< parameters.dry-run >>
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - node_modules

workflows:
  version: 2
  build-and-release:
    jobs:
      - build
      - release:
          name: release-dry-run
          requires:
            - build
          dry-run: true
          filters:
            branches:
              ignore:
                - master
      - release:
          requires:
            - build
          filters:
            branches:
              only:
                - master
