version: 2.1

jobs:
  build:
    docker:
      - image: circleci/node:lts
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run: npm install
      - run: npm run build -- retire
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - node_modules

  release:
    docker:
      - image: circleci/node:lts
    environment:
      GIT_AUTHOR_NAME: h3
      GIT_AUTHOR_EMAIL: h3@hackerhappyhour.com
      GIT_COMMITTER_NAME: h3
      GIT_COMMITTER_EMAIL: h3@hackerhappyhour.com
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run: npm install
      - run: npx semantic-release --dry-run --branch $CIRCLE_BRANCH
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - node_modules
    branches:
      only:
        - master
        - semantic-release-setup
